form {
  @include medium-screen {
    @include clearfix;
  }

  .form-group {
    $default-margin-bottom: 15px;

    @include medium-screen {
      margin-bottom: $default-margin-bottom * $medium-screen-ratio-m;

      width: ($small-content-width + $medium-content-width) / 2;

      margin-left: auto;
      margin-right: auto;
    }

    @include large-screen {
      margin-bottom: $default-margin-bottom * $large-screen-ratio-m;

      width: $medium-content-width;
    }

    > label,
    > input,
    > select,
    > textarea {
      display: block;
      width: 100%;
    }

    > label {
      margin-bottom: 0;

      &.mdnz-polyfill {
        display: none;
      }
    }
  }

  .field-error {
    height: 0;
    overflow: hidden;

    font-style: italic;
    font-weight: bold;
    font-size: $font-size-base-em / $font-size-base-px * 12;
    color: $state-danger-text;

    margin-bottom: 0;

    &.other-form-error {
      font-size: $font-size-base-em;

      text-align: center;
      clear: both;
    }
  }
}

.check-or-radio {
  // For checkbox and label to be vertically centered
  display: table-row;

  > div {
    display: table-cell;
    vertical-align: middle;

    > input {
      margin-right: 0.5em;
    }

    > label {
      // To align vertically with the radio/checkbox
      margin: 0;

      font-weight: normal;

      cursor: pointer;
    }
  }
}

.submit-wrapper {
  padding-top: $line-height-project;

  @include medium-screen {
    padding-top: $line-height-project * $medium-screen-ratio-l;
  }

  @include large-screen {
    padding-top: $line-height-project * $large-screen-ratio-l;
  }

  text-align: center;

  @include medium-screen {
    clear: both;
    padding-top: 0;
  }

  > [type="button"],
  > [type="submit"] {
    margin: $spacer-unit-size/2;

    @include medium-screen {
      margin: $spacer-unit-size/2 * $medium-screen-ratio-l;
    }

    @include large-screen {
      margin: $spacer-unit-size/2 * $large-screen-ratio-l;
    }
  }
}
