form {
  @include medium-screen {
    @include clearfix;
  }

  /* TODO
  $form-width-medium-screen: $medium-content-width - 2*$spacer-unit-size;
  $form-width-large-screen: $large-content-width - 2*$spacer-unit-size;
  $form-group-separating-margin: 2*$spacer-unit-size; */

  .form-group {
    @include medium-screen {
      width: $small-content-width;

      margin-left: auto;
      margin-right: auto;
    }

    /* TODO
    @include medium-screen {
      float: left;

      width: ($form-width-medium-screen - $form-group-separating-margin) / 2;

      &:nth-child(odd) {
        margin-right: $form-group-separating-margin;
      }
    }

    @include large-screen {
      width: ($form-width-large-screen - $form-group-separating-margin * 2) / 3;

      &:nth-child(even),
      &:nth-child(odd) {
        margin-right: $form-group-separating-margin;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    } */

    > label,
    > input,
    > select,
    > textarea {
      display: block;
      width: 100%;
    }

    > label {
      margin-bottom: 0;

      &.mdnz-polyfill {
        display: none;
      }
    }
  }

  .field-error {
    display: none;

    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: $state-danger-text;

    margin-bottom: 0;

    &.other-form-error {
      font-size: $font-size-base;
      margin-bottom: $line-height-computed / 2; // Same as a normal <p>

      text-align: center;
      clear: both;
    }
  }
}

.check-or-radio {
  // For checkbox and label to be vertically centered
  display: table-row;

  > div {
    display: table-cell;
    vertical-align: middle;

    > input {
      margin-right: 0.5em;
    }

    > label {
      // To align vertically with the radio/checkbox
      margin: 0;

      font-weight: normal;

      cursor: pointer;
    }
  }
}

.submit-wrapper {
  padding-top: $line-height-project;

  @include medium-screen {
    clear: both;
    padding-top: 0;
  }

  > [type=submit] {
    display: block;
    margin: auto;
  }
}
