form {
  @include medium-screen {
    @include clearfix;
  }

  .form-group {
    margin-bottom: 0.5em;

    @include medium-screen {
      width: ($small-content-width + $medium-content-width) / 2;

      margin-left: auto;
      margin-right: auto;
    }

    @include large-screen {
      width: $medium-content-width;
    }

    > label,
    > input,
    > select,
    > textarea {
      display: block;
      width: 100%;
    }

    > label {
      line-height: 1.25em;

      &.mdnz-polyfill {
        display: none;
      }
    }
  }

  .field-error {
    height: 0;
    overflow: hidden;

    font-style: italic;
    font-weight: bold;
    font-size: $font-size-base-em / $font-size-base-px * 12;
    color: $state-danger-text;

    margin-bottom: 0;

    &.other-form-error {
      font-size: $font-size-base-em;

      text-align: center;
      clear: both;
    }
  }
}

.check-or-radio {
  // For checkbox to be vertically centered
  > div {
    display: table-cell;
    vertical-align: middle;
  }

  input {
    margin-right: 0.5em;
  }

  label {
    // To align vertically with the radio/checkbox
    margin-top: 0.5em;

    font-weight: normal;

    cursor: pointer;
  }
}
