#content,
nav[role="navigation"],
#register-reminder {
  margin: 0 auto;

  @include medium-screen {
    max-width: $medium-content-width;
  }
  @include large-screen {
    max-width: $large-content-width;
  }
}

.alert {
  display: none;
}

.tab-pane {
  background-color: $tab-pane-color;

  padding: $spacer-unit-size;

  @include medium-screen {
    padding: $spacer-unit-size * $medium-screen-ratio-l;
  }

  @include large-screen {
    padding: $spacer-unit-size * $large-screen-ratio-l;
  }
}

.glyphicon {
  @include adaptive-font-size(9px);

  vertical-align: top;

  $glyphicon-side-margin: 4px;

  margin: 7px $glyphicon-side-margin;
  margin-left: 0;

  @include medium-screen {
    margin: 9px $glyphicon-side-margin*$medium-screen-ratio-m;
    margin-left: 0;
  }

  @include large-screen {
    margin: 12px $glyphicon-side-margin*$large-screen-ratio-m;
    margin-left: 0;
  }
}
