[role="main"] {
  position: relative; // Because absolutely-positioning the menu

  background-color: $background-body-color; // Otherwise we see the contentOverlayWhenMenuOpen even when z-index -1
}

// To have the footer always at the bottom
html,
body {
  height: 100%;
}
#container {
  min-height: 100%;
  position: relative; // Because of absolutely-positioning footer
}
[role="main"] {
  padding-bottom: $footer-height;
}

#container {
  &.menu-open {
    #content-overlay-when-menu-open {
      display: block;
    }
    #main-menu {
      visibility: visible;
    }
  }

  &.task-notifications-open {
    #content-overlay-when-menu-open {
      display: block;
    }
    #task-notifications {
      visibility: visible;
    }
  }
}

#content {
  padding-top: $header-height;
}

a.fa {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.item-names-list > li {
  background-color: $well-bg;

  margin-bottom: 0.25em;

  position: relative; // Because of absolutely-positioned edit button

  &:hover {
    cursor: move;
  }

  &.editing {
    background-color: $background-body-color;
  }

  > p {
    padding: 0 1.5em 0 0.5em;
  }

  > button {
    position: absolute;
    top: -0.55em;
    right: -0.55em;

    padding: 0.92em 1em;
  }
}

.item-composer {
  display: none;

  textarea {
    height: 2.9em;
    margin-bottom: 0.5em;
  }

  > .fa-times {
    padding: 0.47em 0.62em 0.53em 0.62em;
    margin-left: 0.2em;
    vertical-align: top;

    font-size: 1.25em;
  }
}
