#Strengths {
  .alert {
    display: none;
  }

  article {
    border-radius: $border-radius-base;
    border: 1px solid $gray-light;

    margin-bottom: $spacer-unit-size;

    @include medium-screen {
      margin-bottom: $spacer-unit-size * $medium-screen-ratio-l;
    }

    @include large-screen {
      margin-bottom: $spacer-unit-size * $large-screen-ratio-l;
    }
  }
}

$strengths-standout-section-margin: 9px;

.section-top {
  > h2 {
    margin-left: 0.5em;
  }

  &.with-specify {
    @include clearfix;

    > h2 {
      float: left;
    }

    > button {
      float: right;

      margin: 0.5em 0.5em 0 0;
    }
  }
}

.section-bottom {
  background-color: $gray-lighter;

  > .glyphicon {
    margin-left: 1em;
  }
}
