.IdentifyStrengths {
  #strength-taglist {
    > li {
      margin-top: $spacer-unit-size;
      @include medium-screen {
        margin-top: $spacer-unit-size * $medium-screen-ratio-m;
      }
      @include large-screen {
        margin-top: $spacer-unit-size * $large-screen-ratio-m;
      }
    }
  }

  .how-well {
    .form-group {
      .slider {
        $slider-margin-top: 30px;

        margin-top: $slider-margin-top;
        @include medium-screen {
          margin-top: $slider-margin-top * $medium-screen-ratio-m;
        }
        @include large-screen {
          margin-top: $slider-margin-top * $large-screen-ratio-m;
        }
      }

      /* TODO
      @include medium-screen {
        display: inline-block;

        > label,
        > [type="range"],
        > .slider {
          display: inline-block;
          padding: 0 $spacer-unit-size;
        }

        > label {
          width: auto;
        }
      } */
    }
  }

  article {
    $strength-article-top-margin: $spacer-unit-size * 1.5;

    margin-top: $strength-article-top-margin;
    @include medium-screen {
      margin-top: $strength-article-top-margin * $medium-screen-ratio-m;
    }
    @include large-screen {
      margin-top: $strength-article-top-margin * $large-screen-ratio-m;
    }
  }
}
