.IdentifyStrengths {
  .strength-taglist-container {
    text-align: center;

    > ul {
      display: inline-block;

      > li {
        display: inline-block;

        margin-top: 1em;
        padding: 0 0.5em;
      }
    }
  }

  .how-well {
    .form-group {
      .slider {
        margin-top: 2em;
      }

      /* TODO
      @include medium-screen {
        display: inline-block;

        > label,
        > [type="range"],
        > .slider {
          display: inline-block;
          padding: 0 $spacer-unit-size;
        }

        > label {
          width: auto;
        }
      } */
    }
  }

  article {
    margin-top: 1.5em;
  }
}
