#activit1es {
  .well.done {
    opacity: 0.5;
  }
}

#c1-and-activity-feed {
  > div {
    > h3 {
      text-align: center;
      text-transform: uppercase;

      margin-top: $default-spacer-size;

      @include large-screen {
        margin-top: $default-spacer-size-large-screen;
      }
    }
  }
}

#current-activity {
  .tooltip {
    z-index: $zindex-modal - 1;
  }
}

.centered-contents {
  > button {
    margin: $spacer-unit-size/2;
    @include medium-screen {
      margin: $spacer-unit-size/2 * $medium-screen-ratio-l;
    }
    @include large-screen {
      margin: $spacer-unit-size/2 * $large-screen-ratio-l;
    }
  }
}
