#blueprint {
  text-align: center;

  > ul {
    display: inline-block;

    $blueprint-width-large-screen-percent: 75;

    @media screen and (min-width: $large-content-width * 100 / $blueprint-width-large-screen-percent) {
      width: percentage($blueprint-width-large-screen-percent / 100);
    }

    > li {
      display: inline-block;

      padding: 0 $spacer-unit-size;

      max-width: $small-content-width;

      @media screen and (min-width: $large-content-width * 100 / $blueprint-width-large-screen-percent) {
        max-width: (100% / 3);
      }

      textarea {
        display: none;
      }
    }
  }
}
