#custom-activity {
  #content {
    margin-top: $default-spacer-size;

    @include large-screen {
      margin-top: $default-spacer-size-large-screen;
    }
  }
}

#custom-activity-saved {
  display: none;
}