#header-links {
  text-align: center;

  background-color: $action-color;

  padding: $spacer-unit-size/2 0;
  margin-bottom: $spacer-unit-size * 2;

  > a {
    display: none;

    margin: 0 $spacer-unit-size;

    $header-link-color: white;

    color: $header-link-color;

    &:visited,
    &:hover,
    &:focus {
      color: $header-link-color;
    }
  }
}

.sign-in-with-linked-in {
  @include hide-text;

  $sign-in-with-linked-in-button-image-location-x: 0;
  $sign-in-with-linked-in-button-image-location-y: 0;

  @include hdpi-sprite;
  background-position: $sign-in-with-linked-in-button-image-location-x $sign-in-with-linked-in-button-image-location-y;
  @include hidpi {
    background-position: half-pos($sign-in-with-linked-in-button-image-location-x, $sign-in-with-linked-in-button-image-location-y);
  }

  width: 146px;
  height: 21px;

  @include medium-screen {
    $sign-in-with-linked-in-button-image-location-x: -300px;

    @include hdpi-sprite;
    background-position: $sign-in-with-linked-in-button-image-location-x $sign-in-with-linked-in-button-image-location-y;
    @include hidpi {
      background-position: half-pos($sign-in-with-linked-in-button-image-location-x, $sign-in-with-linked-in-button-image-location-y);
    }

    width: 215px;
    height: 41px;
  }
}

#modal {
  form {
    > .centered-contents {
      > p {
        font-style: italic;
        font-weight: bold;

        $linked-in-btn-spacer: 15px;
        margin-top: $linked-in-btn-spacer;

        @include medium-screen {
          margin-top: $linked-in-btn-spacer * $medium-screen-ratio-m;
        }

        @include large-screen {
          margin-bottom: $linked-in-btn-spacer * $large-screen-ratio-m;
        }
      }
    }

    .form-group {
      float: none;

      width: 100%;
      margin-right: auto;
    }

    [type="submit"] {
      display: none;
    }
  }
}

#header-alerts {
  > div {
    display: none;
  }
}

#welcome-panel {
  padding: $alert-padding;

  span {
    display: inline-block;
  }
}
