#main-menu {
  position: fixed;
  top: px-to-em($header-height-px);
  z-index: $z-index-menu;

  background-color: white;
  padding: 0.5em;

  visibility: hidden;
}

#content-overlay-when-menu-open {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: -1;
}
