#index {
  #content {
    text-align: center;

    $list-item-padding: $spacer-unit-size/2;

    > ul {
      margin: $spacer-unit-size auto;

      font-size: #{$font-size-base-px}px;

      max-width: $small-content-width;

      @include medium-screen {
        max-width: $medium-content-width;
      }
      @include large-screen {
        max-width: $large-content-width;
      }
      @media screen and (min-width: $small-content-width * 4) {
        max-width: $small-content-width * 4;
      }

      > .blueprint-area-panel {
        text-align: left;

        padding: 0 $list-item-padding;

        width: $small-content-width;
      }
    }

    .well {
      padding: 0 0.5em 0.5em 0.5em;
      margin-bottom: $spacer-unit-size;

      position: relative; // Because of absolutely-positioned menu and expand buttons

      &.hidd3n {
        display: none;
      }

      &.add-item-composer-open {
        &.collapsed-list > .fa-chevron-down,
        &.expanded-list > .fa-chevron-up {
          display: none;
        }

        > section {
          > .item-composer {
            display: block;
          }

          > .add-item-link {
            display: none;
          }
        }
      }

      &.editing {
        .fa-bars,
        .fa-chevron-down,
        .fa-chevron-up,
        .add-item-link {
          display: none !important;
        }
      }

      > button {
        position: absolute;

        padding: .93em .93em;

        color: lighten($gray-base, 60%);

        &.fa-chevron-down.menu {
          right: -0.45em;
          top: -0.45em;

          &:focus {
            outline: none;
          }
        }
        &.fa-chevron-down.expand,
        &.fa-chevron-up {
          right: 9.4em;
          bottom: 1.5em;

          display: none;
        }
      }

      > .workbook-area-actions {
        position: absolute;
        right: 0.3em;
        top: 1.8em;
        z-index: $z-index-menu;

        background-color: white;

        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.3em 0 0.3em 0.3em;

        box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.25);

        display: none;

        li {
          margin: 0.2em 0.5em;
        }

        .fa {
          margin-right: 0.5em;
          color: $action-color;
        }
      }

      &.collapsed-list {
        > .fa-chevron-down.expand {
          display: inline-block;
        }

        > .fa-chevron-up {
          display: none;
        }

        li:nth-of-type(1n+4) {
          display: none;
        }
      }

      &.expanded-list {
        > .fa-chevron-up {
          display: inline-block;
        }

        > .fa-chevron-down.expand {
          display: none;
        }

        li:nth-of-type(1n+4) {
          display: list-item;
        }
      }

      > .add-item-section {
        margin-top: 1.4em;
      }
    }

    h2 {
      font-size: #{1.2 * $font-size-base-px}px;
      font-weight: bold;
      letter-spacing: -0.05em;
    }

    .item-names-list {
      > li {
        background-color: $gray-light;

        margin-bottom: 0.25em;

        &.editing {
          background-color: $well-bg;
        }

        > p,
        > .fa-bars,
        > .fa-pencil {
          color: $background-body-color;
        }

        > p {
          margin-bottom: 0;
        }
      }

      @include link-color($background-body-color);
    }

    .workbook-area-description-modal {
      .modal-header {
        > .close {
          @include medium-screen {
            margin-top: -6px;
          }
          @include large-screen {
            margin-top: -6px;
          }
        }
      }
    }

    .three-standouts {
      background-color: $standouts-background-color;

      > h2 {
        text-align: center;
      }

      > .fa-times {
        right: -0.45em;
        top: -0.45em;
      }

      .fa-star {
        color: $icon-success-color;

        margin: 0 1em;
      }
    }
  }
}
