#index {
  #content {
    text-align: center;

    $list-item-padding: $spacer-unit-size/2;

    > ul {
      margin: $spacer-unit-size auto;

      font-size: #{$font-size-base-px}px;

      max-width: $small-content-width;

      @include medium-screen {
        max-width: $medium-content-width;
      }
      @include large-screen {
        max-width: $large-content-width;
      }
      @media screen and (min-width: $small-content-width * 4) {
        max-width: $small-content-width * 4;
      }

      > .blueprint-area-panel {
        text-align: left;

        padding: 0 $list-item-padding;

        width: $small-content-width;
      }
    }

    .well {
      padding: 0 0.5em 0.5em 0.5em;
      margin-bottom: $spacer-unit-size;

      position: relative; // Because of absolutely-positioned hide and expand buttons

      &.add-item-composer-open {
        &.collapsed-list > .fa-chevron-down,
        &.expanded-list > .fa-chevron-up {
          display: none;
        }

        > section {
          > .item-composer {
            display: block;
          }

          > .add-item-link {
            display: none;
          }
        }
      }

      &.editing {
        .fa-bars,
        .fa-chevron-down,
        .fa-chevron-up,
        .add-item-link {
          display: none !important;
        }
      }

      > button {
        position: absolute;

        padding: .93em .93em;

        color: lighten($gray-base, 60%);

        &.fa-info-circle {
          right: 2.5em;
          top: -0.45em;

          &:focus {
            outline: none;
          }
        }
        &.fa-eye-slash {
          right: -0.45em;
          top: -0.45em;
        }
        &.fa-chevron-down,
        &.fa-chevron-up {
          right: 9.4em;
          bottom: 1.5em;

          display: none;
        }
      }

      &.collapsed-list {
        > .fa-chevron-down {
          display: inline-block;
        }

        > .fa-chevron-up {
          display: none;
        }

        li:nth-of-type(1n+4) {
          display: none;
        }
      }

      &.expanded-list {
        > .fa-chevron-up {
          display: inline-block;
        }

        > .fa-chevron-down {
          display: none;
        }

        li:nth-of-type(1n+4) {
          display: list-item;
        }
      }

      > section {
        margin-top: 1.4em;
      }
    }

    h2 {
      font-size: #{1.2 * $font-size-base-px}px;
      font-weight: bold;
      letter-spacing: -0.05em;

      padding-right: 1em;
    }

    .item-names-list {
      > li {
        background-color: $gray-light;

        margin-bottom: 0.25em;

        &.editing {
          background-color: $well-bg;
        }

        > p,
        > .fa-bars,
        > .fa-pencil {
          color: $background-body-color;
        }

        > p {
          margin-bottom: 0;
        }
      }

      @include link-color($background-body-color);
    }
  }
}
