.add-item-task {
  padding: 1em;
  background-color: $well-bg;

  > p {
    margin-bottom: 0;
  }
}

.item-composer.task {
  display: block;

  > .form-group {
    width: auto;
  }

  > a {
    margin-left: 1em;
    vertical-align: middle;
  }
}

.task-progress-bar {
  background-color: $gray-light;

  margin-bottom: 1em;

  > div {
    height: 0.4em;
    background-color: $brand-success;
  }
}