#workbook-area {
  #content > div {
    margin-left: auto;
    margin-right: auto;

    @include medium-screen {
      width: ($small-content-width + $medium-content-width) / 2;
    }
    @include large-screen {
      width: $medium-content-width;
    }
  }

  .item-names-list {
    margin-top: $default-spacer-size;
    @include large-screen {
      margin-top: $default-spacer-size-large-screen;
    }
  }

  li > p {
    background-color: $well-bg;
  }

  .item-composer > .fa-times {
    font-size: 1.1em;
  }
}
