$task-icon-color: #FDC300;
$task-icon-size: 1.5em;

.workbook-task {
  padding: 1.5em 1em 1em 1em;
  background-color: $well-bg;

  position: relative;

  > .fa-question-circle {
    position: absolute;
    top: 0;
    right: 0.1em;

    padding: 0.93em 1em;
  }

  > .working-on {
    margin-bottom: 0;
  }

  > .coming-up-next {
    text-align: right;
    font-size: $font-size-small;
  }

  > .item-composer,
  > label {
    margin-top: 1em;
  }

  .progress {
    background-color: $gray-light;
    margin-bottom: 0;

    > .progress-bar {
      min-width: 2em;
    }
  }

  &.hidd3n {
    display: none;
  }
}

.item-composer.task {
  display: block;

  > .form-group {
    width: auto;

    > label {
      display: table-cell;
      vertical-align: bottom;
      height: $form-label-line-height * 2;
    }

    > textarea {
      margin-top: 0.25em;
    }
  }

  > a {
    margin-left: 1em;
    vertical-align: middle;
  }
}

$tip-icon-width: 10%;

#custom-task-tip {
  @include clearfix;

  margin-top: 1em;

  > .fa,
  > p {
    float: left;
  }

  > .fa {
    color: $task-icon-color;
    font-size: $task-icon-size;

    width: $tip-icon-width;
    text-align: center;
    margin-top: 0.1em;
  }

  > p {
    width: (100% - $tip-icon-width);
  }
}

.item-composer.task.custom {
  margin-top: 0;
}
