.workbook-task {
  padding: 1em;
  background-color: $well-bg;

  > p {
    margin-bottom: 0;
  }

  > .coming-up-next {
    text-align: right;
    font-size: $font-size-small;
  }

  > .item-composer,
  > label {
    margin-top: 1em;
  }

  .progress {
    background-color: $gray-light;
    margin-bottom: 0;

    > .progress-bar {
      min-width: 2em;
    }
  }

  &.complete {
    > h2,
    > p {
      text-align: center;
    }

    h2 {
      font-size: 1.5em;

      .fa-star {
        color: #FDC300;
        margin: 0 1em;
      }
    }
  }
}

.item-composer.task {
  display: block;

  > .form-group {
    width: auto;

    > label {
      display: table-cell;
      vertical-align: bottom;
      height: $form-label-line-height * 2;
    }

    > textarea {
      margin-top: 0.25em;
    }
  }

  > a {
    margin-left: 1em;
    vertical-align: middle;
  }
}
