.workbook-area-task {
  padding: 1em;
  background-color: $well-bg;

  > p {
    margin-bottom: 0;
  }
}

.item-composer.task {
  display: block;

  > .form-group {
    width: auto;

    > label {
      display: table-cell;
      vertical-align: bottom;
      height: $form-label-line-height * 2;
    }

    > textarea {
      margin-top: 0.25em;
    }
  }

  > a {
    margin-left: 1em;
    vertical-align: middle;
  }
}

.task-progress-bar {
  background-color: $gray-light;

  margin-bottom: 1em;

  > div {
    height: 0.4em;
    background-color: $brand-success;
    width: 0;
  }
}
