@main("Work Dimension | Custom activity", "custom-activity") {
<!--
    Header
-->

} {
<!--
    Content
-->
<div id="custom-activity-saved" class="alert alert-success">Custom activity saved</div>

<form role="form">
    <div class="form-group">
        <label for="email">Account email address</label>
        <input type="text" id="email" class="form-control" />

        <p class="field-error" data-check="empty"></p>
        <p class="field-error" data-check="email">This email address doesn't look right...</p>
        <p class="field-error" id="no-account-found-for-this-email">No account was found for this email address</p>
    </div>
    <div class="form-group">
        <label for="class-name">Activity class name</label>
        <input type="text" id="class-name" class="form-control" maxlength="64" placeholder="SomeNameWrittenThisWay" />

        <p class="field-error" data-check="empty"></p>
    </div>
    <div class="form-group">
        <label for="title">Activity title</label>
        <input type="text" id="title" class="form-control" maxlength="128" />

        <p class="field-error" data-check="empty"></p>
    </div>
    <div class="form-group">
        <label for="text">Activity text</label>
        <textarea id="text" class="form-control" maxlength="1024"></textarea>

        <p class="field-error" data-check="empty"></p>
        <p class="field-error" data-check="max-length">1024 characters maximum</p>
    </div>
    <div class="form-group">
        <label for="account-data-key">Key where the account data will be stored</label>
        <input type="text" id="account-data-key" class="form-control" maxlength="32" placeholder="someKeyWrittenThatWay" />

        <p class="field-error" data-check="empty"></p>
    </div>

    <div class="submit-wrapper">
        <button type="submit" class="btn btn-primary" data-loading-text="Submitting...">Submit</button>
    </div>
</form>
} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        CS.Controllers.CustomActivity();
    });
</script>

}
