@(pageId: String, pageTitle: String)

<section id="top-bar">
    <a href="/" id="home-btn" class="fa fa-home"></a>
    <h1>@Html(pageTitle)</h1>

    @if(pageId == "index") {
    <button class="styleless fa fa-question-circle"></button>
    }

    <button id="menu-btn" class="styleless fa fa-bars"></button>
    <button id="task-notifications-btn" class="styleless fa fa-cubes">
        <span></span>
    </button>
</section>

<section id="get-started">
    <div>
        <p>Tracks handlar om att identifiera och utforska de viktigaste budskapen i ditt jobbsök. Det du ska lyfta fram för att sticka ut som kandidat och få det jobb du vill ha. </p>
        <p>Vi har valt några ämnen åt dig som start. Klicka på det ämne du vill börja med eller lägg till ett nytt från menyn längst upp till höger. </p>
    </div>
</section>

<div id="content-overlay-when-menu-open"></div>

<div id="task-notifications"></div>

<nav role="navigation" id="main-menu">
    @if(pageId != "index") {
    <a href="/">Hem</a>
    }
    <section>
    </section>
    @if(pageId == "index") {
    <a id="select-areas">Lägg till ämne</a>
    }
    <a id="sign-out">Logga ut</a>
</nav>

<div class="modal fade" id="select-areas-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Välj ett ämne att lägga till</h2>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="sign-in-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="tracks-intro">Välkommen till Tracks! Här kan du upptäcka och utforska de saker som får just dig att sticka ut i ett jobbsammanhang. Använd dem i din jobbansökan, i en intervju eller när du pratar med dina kontakter. </p>

                <div class="centered-contents">
                    <p>Logga in med LinkedIn för att fortsätta</p>
                    <button class="styleless sign-in-with-linkedin">
                        <span>Sign in</span>
                        <i class="fa fa-spinner fa-pulse"></i>
                    </button>
                </div>

                <p id="disclaimer">Den här tjänsten är under utveckling. Det finns inga kostnader och inga förbindelser. Din information är säker och du kan när som helst välja att ta bort ditt konto. </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
