@(pageId: String, pageTitle: String)

<section id="top-bar">
    <a href="/" id="home-btn" class="fa fa-home"></a>
    <h1>@Html(pageTitle)</h1>

    <button class="styleless fa fa-question-circle"></button>

    <button id="menu-btn" class="styleless fa fa-bars"></button>
    <button id="task-notifications-btn" class="styleless fa fa-cubes">
        <span></span>
    </button>
</section>

<section id="get-started">
    <div>
        <p>Standouts are the things that make you uniquely qualified, uniquely motivated, and uniquely inspiring. What are your standouts?</p>
        <p>We'll start you out with some topics. Click on the ones that interest you, or add a topic from the menu.</p>
    </div>
</section>

<div id="content-overlay-when-menu-open"></div>

<div id="task-notifications"></div>

<nav role="navigation" id="main-menu">
    @if(pageId != "index") {
    <a href="/">Home</a>
    }
    <section>
    </section>
    @if(pageId == "index") {
    <a id="select-areas">Add a topic</a>
    }
    <a id="sign-out">Sign out</a>
</nav>

<div class="modal fade" id="select-areas-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Select the topic to add</h2>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="sign-in-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body centered-contents">
                <p>You need to sign-in to access this page</p>
                <button class="styleless sign-in-with-linkedin">
                    <span>Sign in with LinkedIn</span>
                    <i class="fa fa-spinner fa-pulse"></i>
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
