@(workbookAreas: List[WorkbookArea], accountId: Long, accountData: Option[play.api.libs.json.JsObject])
@main("Work Dimension", "index") {
<!--
    Header
-->
@header("index", "Workbook")

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->

<!-- LinkedIn -->
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 78w7zhq4cqqphu
    authorize: true
    onLoad: CS.Controllers.MainMenuLinkedInAuthenticator
</script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        CS.account.id = @accountId;
        CS.account.data = @Html(play.api.libs.json.Json.toJson(accountData).toString);

        CS.mainMenuController = CS.Controllers.MainMenu(@Html(play.api.libs.json.Json.toJson(workbookAreas).toString));
        CS.nextTaskController = CS.Controllers.NextTask();
        CS.overviewController = CS.Controllers.Overview();
        CS.blueprintAreasSelector = CS.Controllers.BlueprintAreasSelector();
    });
</script>
}
