@(accountId: Long, accountEmail: Option[String], accountData: Option[play.api.libs.json.JsObject])
@main("Work Dimension", "index") {
<!--
    Header
-->
@header()

} {
<!--
    Content
-->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="activities">
        <section id="c1-and-activity-feed"></section>
        <section id="current-activity"></section>
    </div>

    <div role="tabpanel" class="tab-pane" id="standouts">
        <section id="standout-list"></section>
        <section id="standout-detail"></section>
    </div>
</div>
} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        CS.Controllers.Index(@accountId,
                @if(accountEmail.isDefined) { "@accountEmail.get"} else { null },
                @Html(play.api.libs.json.Json.toJson(accountData).toString)
        );
    });
</script>

}
