@(workbookAreas: List[WorkbookArea], workbookArea: WorkbookArea, accountId: Long, accountData: Option[play.api.libs.json.JsObject])
@main(workbookArea.title, "workbook-area") {
<!--
    Header
-->
@header("workbook-area", workbookArea.title)

} {
<!--
    Content
-->

} {
<!--
    Javascript
-->

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        CS.account.id = @accountId;
        CS.account.data = @Html(play.api.libs.json.Json.toJson(accountData).toString);

        CS.mainMenuController = CS.Controllers.MainMenu(@Html(play.api.libs.json.Json.toJson(workbookAreas).toString));
        CS.taskNotificationsController = CS.Controllers.TaskNotifications();
        CS.workbookAreaController = CS.Controllers.WorkbookArea(@Html(play.api.libs.json.Json.toJson(workbookArea).toString));
    });
</script>
}
