<!DOCTYPE html>
<html>
<body>
    <h1>Welcome to WorkDimension!</h1>

    <p>Use WorkDimension to craft your messages and build a powerful platform to help you land the job you want. We give you
        tools, guides and questions to help you pick out the strongest and most relevant messaging. We call them
        standouts.</p>

    <p>This is our very first prototype and you're one of the very first users. Please note that as a prototype we haven't
        spent any attention of making things look nice. And the features are very limited.</p>

    <p>I hope to hear from you about your experience of WorkDimension. Please get back to me anytime.</p>

    <footer>
        --<br />
        Erik Fors-Andrée
    </footer>
</body>
</html>
