<!DOCTYPE html>
<html>
<body>
    <p>Välkommen till Tracks!</p>

    <p>Vet du vad du ska lyfta fram för att skapa intresse i din jobbansökan och komma på jobbintervju? Tracks är ett verktyg som hjälper dig utforska de viktigaste budskapen i ditt jobbsök.</p>

    <p>Det här är en mycket tidig prototyp och du är en av våra allra första användare. Eftersom det är en prototyp har vi inte lagt så mycket energi på att få saker att se snygga ut. Och funktionaliteten är mycket begränsad.</p>

    <p>Vi är väldigt intresserade av all feedback vi kan få! Ring (0708-37 23 50) eller mejla mig <span>(<a href="mailto:erik@@cruited.com">erik@@cruited.com</a>)</span> om du har frågor, funderingar, idéer eller vill prata karriär och jobbsök.</p>

    <p>Tracks är helt kostnadsfritt att använda och du förbinder dig inte till något.</p>

    <p>Hälsningar,</p>

    <footer>
        Erik Fors-Andrée,<br/>
        Grundare cruited.com
    </footer>
</body>
</html>
